<div class="createCinemas" style="padding-top: 30px;">
    <form method="post">
        <input type="text" name="cinemaName" placeholder="Cinema Name" required="required" ng-model="newCinema.name" /> </br>
        <input type="text" name="cinemaAddress" placeholder="Cinema Address" required="required" ng-model="newCinema.address"/> </br>
        <input type="text" name="cinemaOpenHours" placeholder="Cinema Opening Hours" required="required" ng-model="newCinema.openingHourse"/> </br>
        <button type="submit" class="btn btn-primary btn-block btn-large" ng-click="createCinema()">Create new cinema</button>
    </form>
</div>