<div class="createCinemas" style="padding-top: 30px;">
    <form method="post">
        <input type="text" name="cinemaName" placeholder="Cinema Name" required="required" ng-model="cinemaToDelete.cinemaName" /> </br>
        <input type="text" name="cinemaAddress" placeholder="Cinema Address" required="required" ng-model="cinemaToDelete.cinemaAddress"/> </br>
        <button type="submit" class="btn btn-primary btn-block btn-large" ng-click="deleteCinema()">Delete cinema</button>
    </form>
</div>