
<!-- Page Content -->
<div class="container">
    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../css/findMovie.css" rel="stylesheet">
    <!-- Page Header -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Movies Search
                <small>what do you want to whach? </small>
            </h1>
        </div>
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-12">
            <div class="searchMovies" style="padding-top: 30px;">
                <form method="post">
                    <input type="radio" name="search" ng-click="normalSearchClicked()" value="normal" checked="checked"> Normal Search </input>
                    <input type="radio" name="search" ng-click="advancedSearchClicked()" value="advanced"> Advanced Search </input> </br></br>

                    <div id="NormalSearch" ng-if="isNormalSearch">
                        <input type="text" name="movieName" placeholder="Movie Name" ng-model="searchParams.name"/>
                        <input type="text" name="director" placeholder="Director" ng-model="searchParams.director"/>
                        <input type="text" name="year" placeholder="Year" ng-model="searchParams.year"/>
                    </div>

                    <div id="AdvancedSearch" ng-if="isAdvancedSearch">
                        <input type="text" name="actor" placeholder="Actor" ng-model="searchParams.actor"/>
                        <input type="text" name="gener" placeholder="Genre" ng-model="searchParams.genre"/>
                        <input type="text" name="imdbRating" placeholder="Greater then rating" ng-model="searchParams.rating"/></br>
                        <input type="text" name="award" placeholder="Award" ng-model="searchParams.award"/>
                    </div>
                    </br>

                    <button type="submit" class="btn btn-primary btn-large" ng-click="findMovie()">Find my movie</button>
                    </br>

                </form>
            </div>
        </div>
    </div>

    <!-- Projects Row -->
    <div class="row">
        <div class="col-md-4 portfolio-item" ng-repeat="movie in movies">
            <img class="poster-size img-responsive" src="{{movie.Poster}}" alt="">
            <h3>{{movie.Title}}</h3>
            <aside class="mulline">{{movie.Plot}}</aside>
            <p>Director: {{movie.Director}}</p>
            <p>Genre: {{movie.Genre}}</p>
            <p>Actors: {{movie.Actors}}</p>
            <p>Awards: {{movie.Awards}}</p>
            <p>ImdbRating: {{movie.imdbRating}}</p>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<!-- jQuery -->
<script src="../js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../js/bootstrap.min.js"></script>
