<!DOCTYPE html>
<html lang="en" ng-app="moviesStoreApp">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>One Page Wonder - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Angular includes -->
    <script src="../js/angular.min.js"></script>
    <script src="../js/angular-route.min.js"></script>
    <script src="../js/angular-material.min.js"></script>
    <script src="../js/angular-animate.min.js"></script>
    <script src="../js/angular-ui-router.min.js"></script>

    <!-- Custom CSS -->
    <link href="../css/index.css" rel="stylesheet">
    <link href="../css/mapCss.css" rel="stylesheet">
    <link href="../css/topRatedCss.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="../js/index.js"></script>
    <script src="../controllers/homeController.js"></script>
    <script src="../controllers/mapController.js"></script>
    <script src="../app.js"></script>
</head>

<body ng-controller="homeController">
<!--
    <div id="map"></div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCowyTffXLSPvOF-0X3fmYOX_Xf9PPHVys&callback=initMap" async defer></script>
-->
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" ng-click="changeView(home)" href="#">World Cinema</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li ng-repeat='item in menuItems' ng-class="{active : activeMenu === item}" ng-click="setActive(item)">
                        <a href="{{item.link}}">{{item.displayName}}</a>
                    </li>
                    <li>
                        <a href="#moviessearch">Movies Search</a>
                    </li>
                    <li>
                        <a href="#cinemasmap">Cinemas Map</a>
                    </li>
                    <li>
                        <a href="#about">About us</a>
                    </li>

                    <div ng-show="connectedUser != undefined">hello {{connectedUser.userName}}!</div>
                    <div ng-model="user" ng-show="connectedUser == undefined">
                        <div>
                            <input type="text" class="my-input lower-input" placeholder="username" ng-model="user.userName"/>
                        </div>
                        <div>
                            <input type="password" class="my-input lower-input" placeholder="password" ng-model="user.password"/>
                        </div>
                        <div>
                            <input type="button" class="my-input lower-input" value="Sign In" ng-click="signIn(user)">
                        </div>
                    </div>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="container body-content site-container">
        <div ui-view></div>
    </div>



</body>
</html>
