<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- Custom CSS -->
    <link href="../css/index.css" rel="stylesheet">
  </head>
  <body>
    <h1>Hello worldaaa/h1>
  </body>
</html>
