<!doctype html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="../css/ticker.css">
<link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
<style>
body { background-color:#ddd;}
h1 { margin:150px auto 100px auto; text-align:center;}
</style>
</head>
<body>
<div class="ticker-container"><div class="ticker-caption"><p>Breaking News</p></div>
  <ul>
    <div>
      <li><span>Breaking News 1</span></li>
    </div>
    <div>
      <li><span>Breaking News 2</span></li>
    </div>
    <div>
      <li><span>Breaking News 3</span></li>
    </div>
    <div>
      <li><span>Breaking News 4</span></li>
    </div>
    <div>
      <li><span>Breaking News 5</span></li>
    </div>
  </ul>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script> 
<script src="../js/ticker.js"></script>
<div>
<script type="text/javascript">
new pausescroller(pausecontent2, "pscroller2", "someclass", 2000)
</script>
</div>
</body>
</html>